@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --clr-blue: #1B5299;
  --clr-red: red;
  --clr-green: rgb(5, 207, 5);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  background-color: var(--clr-blue);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* form */
.form-container{
  background-color: white;
  width: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
/* heading of form */
.form-title{
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  align-self: center;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--clr-blue);
  margin-bottom: 0.5rem;
}
/* width of btn & i/p element */
.form-input input, button{
  width: 100%;
  border-radius: 5px;
}
/* form input container which has label, i/p and messages */
.form-input{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
/* input element */
input{
  font-size: 1.0rem;
  padding: 0.75rem 1.25rem;
  outline: none;
  border: 2px solid var(--clr-blue);
}

small{
  visibility: hidden;
  margin-left: 1.2rem;
}

.submitButton{
  color: white;
  background-color: var(--clr-blue);
  border: 1px solid var(--clr-blue);
  font-weight: 900;
  font-size: 1rem;
  height: 2.5rem;
}

.form-input.success input{
  border-color: var(--clr-green);
}

.form-input.success small{
  color: var(--clr-green);
}
/* error message clr change */
.form-input.error input{
  border-color: var(--clr-red);
}

.form-input.error small{
  color: var(--clr-red);
}